body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #111;
  color: #f5f5f5;
}

.navbar {
  background-color: #1c1c1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  position: sticky;
  top: 0;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #f5f5f5;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #00adb5;
}

.carrito {
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
}

.badge {
  background-color: #00adb5;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 4px 8px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.contenido {
  text-align: center;
  margin-top: 60px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #00adb5;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background-color: #0097a7;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #222;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}